{% extends 'home.html' %}
{% load static %}
{% block contenido %}
<div class="container mt-5">
    <div class="text-center my-4">
        <h1>Lista de {{ title }}</h1>
    </div>
    <div class="table-responsive">
        <table class="table table-hover table-bordered">
            <thead class="thead-dark">
                <tr>
                    {% for thead in thead_field %}
                    <th>{{ thead }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody id="tbodyTable">
                {% for tbody in tbody_field %}
                <tr>
                    {% for field in tbody %}
                        {% if field.pk %}
                            <td>
                                <a class="btn btn-primary btn-sm " href="{{field.url}}">Editar</a>
                                <a class="btn btn-danger btn-sm" href="{{ field.url_delete }}">Eliminar</a>
                            </td>
                        {% else %}
                            <td>{{ field }}</td>
                        {% endif %}
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</div>
{% endblock contenido %}