/* From Uiverse.io by Pradeepsaranbishnoi */ 
.cardBox {
    width: 250px;
    height: 300px;
    position: relative;
    display: grid;
    place-items: center;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 10px 0px,
      rgba(0, 0, 0, 0.5) 0px 2px 25px 0px;
  }
  
  .card {
    position: absolute;
    width: 95%;
    height: 95%;
    background: #000814;
    border-radius: 20px;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: #ffffff;
    overflow: hidden;
    padding: 20px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 60px -12px inset,
      rgba(0, 0, 0, 0.5) 0px 18px 36px -18px inset;
  }
  
  .card .h4 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    font-weight: 800;
    pointer-events: none;
    opacity: .5;
  }
  
  .card .content .h3 {
    font-size: 18px;
    font-weight: 800;
    margin-bottom: 10px;
  }
  
  .card .content p {
    font-size: 14px;
    line-height: 1.4em;
  }
  
  .card .content {
    transform: translateY(100%);
    opacity: 0;
    transition: 0.3s ease-in-out;
  }
  
  .card:hover .content {
    transform: translateY(0);
    opacity: 1;
  }
  
  .card:hover .h4 {
    opacity: 0;
  }
  
  .cardBox::before {
    content: "";
    position: absolute;
    width: 40%;
    height: 150%;
    background: #40E0D0;
    background: -webkit-linear-gradient(to right, #c837e9, #1818c9, #2a71ff);
    background: linear-gradient(to right, #c837e9, #1818c9, #2a71ff);
    transform-origin: center;
    animation: glowing_401 5s linear infinite;
  }
  
  @keyframes glowing_401 {
    0% {
      transform: rotate(0);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }


/* HOME CSS */
body.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

.sidebar-sticky.dark-mode {
    /* background-color: #333333; */
}

.content.dark-mode {
    background-color: #1e1e1e;
}

body {
    font-family: Arial, sans-serif;
}

.sidebar {
    height: 100vh;
    background: linear-gradient(to bottom, #600f68, #1e3c72);
    padding-top: 20px;
}

.sidebar a {
    color: white;
    padding: 15px;
    text-decoration: none;
    display: block;
}

.sidebar a:hover {
    background-color: #1e3272;
    border-radius: 23px;
}

.content {
    padding: 20px;
}

/* From Uiverse.io by 3bdel3ziz-T */
/* The switch container */
.switch {
    --transition: 300ms;
    --transition500: 500ms;
    --color-dark: #0c0f14;
    --color-darkGray: #21262e;
    --color-gray: #52555a;
    --color-offwhite: #cecece;
    --shadow-color: var(--color-dark);
    position: relative;
    display: flex;
    align-items: center;
    width: 60px;
    height: fit-content;
    background-color: var(--color-dark);
    border-radius: 30px;
    padding: 4px;
    transition: var(--transition500);
    user-select: none;
    cursor: pointer;
    overflow: hidden;
}

/* Svg styles */
.switch .svg {
    transition: var(--transition);
    position: absolute;
    left: 5px;
}

.switch .moon {
    width: 18px;
    fill: var(--color-gray);
    opacity: 1;
}

.switch .sun {
    transform: translateY(-50%);
    width: 12px;
    height: 12px;
    border-radius: 50%;
    left: calc(100% - 21.5px);
    top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    scale: 0.8;
    opacity: 0;
}

.switch .sun .dot {
    position: relative;
    display: block;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background: var(--color-dark);
    background: white;
    z-index: 1;
    box-shadow: 11px 0px 0px var(--shadow-color),
        10.3px 0px 0px var(--shadow-color), -11px 0px 0px var(--shadow-color),
        -10.3px 0px 0px var(--shadow-color), 0px -11px 0px var(--shadow-color),
        0px -10.3px 0px var(--shadow-color), 0px 11px 0px var(--shadow-color),
        0px 10.3px 0px var(--shadow-color), 8px 8px 0px var(--shadow-color),
        7.3px 7.3px 0px var(--shadow-color), 8px -8px 0px var(--shadow-color),
        7.3px -7.3px 0px var(--shadow-color), -8px -8px 0px var(--shadow-color),
        -7.3px -7.3px 0px var(--shadow-color), -8px 8px 0px var(--shadow-color),
        -7.3px 7.3px 0px var(--shadow-color);
}

.switch .sun .dot::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: white;
    border: 2px solid var(--color-dark);
}

/*checkbox styles */
.switch .circle {
    appearance: none;
    position: relative;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    left: 0;
    background-color: var(--color-darkGray);
    border: 1px solid var(--color-darkGray);
    transition: var(--transition500);
    box-shadow: 1px 1px 20px 3px var(--color-darkGray);
}

.switch:has(.circle:checked) {
    background: var(--color-offwhite);
}

.switch .circle:hover {
    margin-left: 3px;
}

.switch .circle:checked:hover {
    margin-left: -3px;
}

.switch .circle:checked {
    left: calc(100% - 24px);
    background: white;
    border-color: white;
    box-shadow: 1px 1px 30px 12px white;
}

.switch:has(.circle:checked)>.sun {
    opacity: 1;
}

.switch:has(.circle:checked)>.moon {
    opacity: 0;
}

.nav-heading {
  font-size: 11px;
    text-transform: uppercase;
    color: #16eacc;
    font-weight: 600;
    margin: 10px 0 5px 15px;
}

.fas, .fa {
  margin-right: 8px;
}