<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Ecosistema</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
  <link href="https://cdn.jsdelivr.net/npm/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

  <!-- Favicons -->
  <link href="{% static 'img/favicon.png' %}" rel="icon">
  <link href="{% static 'img/apple-touch-icon.png' %}" rel="apple-touch-icon">
  <!-- <link rel="manifest" href="{% static 'manifest.json' %}"> -->

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'css/style.css' %}" rel="stylesheet">

  <!-- =======================================================
 
  ======================================================== -->

  {% load pwa %}

  {% progressive_web_app_meta %}

</head>


<!-- <script>
  if ("serviceWorker" in navigator) {
    navigator.serviceWorker.register('{% static "sw.js" %}').then(registration => {
      console.log("Service Worker registrado correctamente", registration);
    }).catch(error => {
      console.error("Error al registrar el Service Worker", error);
    });
  }
</script> -->

<!-- ======= Mobile nav toggle button ======= -->
<i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

<!-- ======= Header ======= -->
<header id="header">
  <div class="d-flex flex-column">

    <div class="profile">
      <img src="{% static 'img/logo_aqui.png' %}" alt="" class="img-fluid">
      <h1 class="text-light"><a href="index.html">Nuestro ecosistema</a></h1>
    </div>

    <nav id="navbar" class="nav-menu navbar">
      <ul>
        <li><a href="#hero" class="nav-link scrollto "><i class="bx bx-home"></i> <span>Inicio</span></a></li>
        <li><a href="#resume" class="nav-link scrollto"><i class="bi bi-hospital"></i> <span>Servicios</span></a></li>
        <li><a href="#plataformas" class="nav-link scrollto"><i class="bi bi-display text-white"></i>
        <span>Plataformas</span></a></li>
        <li><a href="#contact" class="nav-link scrollto"><i class="bx bx-envelope"></i> <span>Contacto</span></a></li>
      </ul>
    </nav><!-- .nav-menu -->
  </div>
</header><!-- End Header -->

<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex flex-column justify-content-center align-items-center">
  <div class="hero-container" data-aos="fade-in">
    <h1>48 Hoorass Dia</h1>
    <p>Estamos <span class="typed" data-typed-items="para servirte."></span></p>
  </div>
</section><!-- End Hero -->

<main id="main">

  <!-- ======= Resume Section ======= -->
  <section id="resume" class="resume">
    <div class="container">

      <div class="section-title">
        <h2>Servicios</h2>
        <p>En 48 estamos totalmente convencidos de que todos y cada uno de nuestros clientes son únicos. Por ello,
          desarrollamos nuestros productos de acuerdo con sus necesidades específicas.

          <strong>Tenemos el conocimiento y los recursos para ofrecer los mejores servicios, y muchos más.</strong>
        </p>
      </div>

      <div class="row">
        <div class="col-lg-6" data-aos="fade-up">
          <h3 class="resume-title">MEDICOS</h3>
          <div class="resume-item pb-0">
            <h4>NUESTROS SERVICIOS MEDICOS A TRAVÉS DE NUESTRAS I.P.S</h4>
            <ul>
              <li>Triage / Telemedicina</li>
              <li>SCAN (IA signos vitales)</li>
              <li>Medicina y telemedicina laboral</li>
              <li>Exámenes ocupacionales</li>
              <li>Evaluación de accidentes laborales</li>
              <li>Ambulancias</li>
              <li>Segunda opinión médica</li>
              <li>Médico a domicilio</li>
              <li>Hospitalización en casa</li>
              <li>Enfermera en casa</li>
            </ul>
          </div>

          <div class="resume-item">
            <h4>Viajero</h4>
            <h4>Asistencia al Viajero</h4>
            <ul>
              <li>Asistencia por accidente</li>
              <li>Gastos médicos por hospitalización</li>
              <li>Gastos médicos</li>
              <li>Asistencia en caso de pérdida de equipaje o documentos </li>
              <li>Emergencia dental</li>
              <li>Asesoría médica telefónica</li>
              <li>Asistencia médica por COVID</li>
              <li>Repatriación</li>
            </ul>
          </div>

          <div class="resume-item">
            <h4>Servicios de reembolso</h4>
            <h5>Gestiona tu reembolso, utiliza nuestros medios de comunicación para comenzar a gestionar todo lo
              relacionado con tus procesos de reembolsos</h5>
            <ul>
              <!-- <li>
                <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up">
                  <div class="icon"></div>
                  <h4 class="title">
                    <i class="bi bi-whatsapp"></i>
                    <a href="https://api.whatsapp.com/send?phone=573234917071&text=&source=&data=&app_absent=">
                      Whatsapp
                    </a>
                  </h4>
              </li> -->
              <li>
                <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
                  <div class="icon"></div>
                  <h4 class="title"> <i class="bi bi-envelope-arrow-up"></i> <a
                      href="mailto:rembolsos@48hoorassdia.com">Correo electrónico</a></h4>
                </div>

              </li>
              <li>
                <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
                  <div class="icon"></div>
                  <h4 class="title"><i class="bi bi-telephone-outbound"></i> <a
                      href="https://webrtc.sipxentral.com/c2c?customer=wta48hours&campaign=personas&number=5715897596&pin=%27%27&site=http:%2F%2Fwww.48hoorassdia.com"
                      target="_blank">Click
                      to call</a></h4>
                </div>
              </li>
            </ul>
          </div>

        </div>
        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
          <h3 class="resume-title">TELEMEDICINA</h3>
          <div class="resume-item">
            <h4>ESPECIALIDADES EN TELEMEDICINA</h4>
            <ul>
              <li>PSICOLOGÍA</li>
              <li>TERAPIA FÍSICA</li>
              <li>ODONTOLOGÍA</li>
              <li>NUTRICIÓN</li>
            </ul>
          </div>
          <div class="resume-item">
            <h4>MASCOTAS</h4>
            <h4>ASISTENCIAS PARA MASCOTAS</h4>
            <ul>
              <li>Gastos médicos por accidente y por enfermedad</li>
              <li>Médico veterinario a domicilio</li>
              <li>Asistencia legal telefónica en caso de daños a terceros</li>
              <li>Envió de medicamentos a domicilio derivados de la consulta</li>
              <li>Teleasistencia veterinaria con psicología canina y/o medicina general</li>
              <li>Referenciación caminatas eco-recreativas caninas</li>
            </ul>
          </div>

          <div class="resume-item">
            <h4>Asesoría en servicios generales</h4>
            <h5>Ofrecemos soluciones integrales para optimizar la gestión y operación de servicios generales,
              adaptándonos a las necesidades específicas de nuestros clientes.</h5>
            <ul>
              <li>
                <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up">
                  <div class="icon"></div>
                  <h4 class="title">
                    <i class="bi bi-whatsapp"></i>
                    <a href="https://api.whatsapp.com/send?phone=573234917071&text=&source=&data=&app_absent="
                      target="_blank">
                      Whatsapp
                    </a>
                  </h4>
              </li>
              <li>
                <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
                  <div class="icon"></div>
                  <h4 class="title"> <i class="bi bi-envelope-arrow-up"></i> <a
                      href="mailto:servicioalcliente@48hoorassdia.com">Correo electrónico</a></h4>
                </div>
              </li>
              <li>
                <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
                  <div class="icon"></div>
                  <h4 class="title">
                    <i class="bi bi-telephone-outbound"></i>
                    <a href="https://webrtc.sipxentral.com/c2c?customer=wta48hours&campaign=personas&number=5713570934&pin=%27%27&site=https:%2F%2F48hoorassdia.com%2F"
                      target="_blank">Click
                      to call</a>
                  </h4>
                </div>
              </li>
            </ul>
          </div>

        </div>
      </div>

    </div>
  </section><!-- End Resume Section -->

  <section id="plataformas" class="py-5 contenedor-plataformas bg-light container-plataforma-js">
    <div class="container">
      <div class="text-center mb-5 " data-aos="fade-in">
        <h2 class="display-4">Plataformas</h2>
        <p class="lead">Explora nuestra variedad de plataformas diseñadas</p>
        <p class="lead mt-5">Te brindamos <span class="typed2" data-typed-items="un usuario de prueba."></span></p>

        <button type="button" class="btn btn-sm btn-outline-success" data-bs-toggle="popover"
          data-bs-title="Usuario de Prueba" data-bs-content="Usuario: pruebas_ecosistema
                         Contraseña: N!CXfE">Dame Click</button>
      </div>

      <div class="row">
        <!-- Plataforma 1 -->
        <div class="col-md-4 mb-4">
          <div class="padre">
            <div class="card">
              <img class="img-icono-genereal d-block mx-auto" src="{% static 'img/plataformas.png' %}" class="card-img-top"
                alt="Curso 1">
              <div class="card-body">
                <h5 class="card-title text-center">Modulos de Cotizacion</h5>
                <!-- <p class="card-text"></p> -->
                <div class="d-flex justify-content-around">
                  <!-- <a href="#" class="btn btn-primary">acceder</a> -->
                  <a href="http://ventasdigital.co/agencia/NTQ1/" type="button" class="btn btn-primary"
                    id="boton_emision" target="_blank">Probar</a>
                  <button type="button" class="btn btn-primary" id="liveToastBtn1">ver más</button>
                </div>
              </div>
            </div>
            <!-- toast -->
            <div class="contendor-toast toast-container p-3">
              <div id="liveToast1" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-header">
                  <i class="bi bi-easel pe-2"></i>
                  <strong class="me-auto">Modulos de Cotizacion</strong>
                  <small>mins ago</small>
                  <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
                <div class="toast-body">
                  el modulo de cotización permiten a los usuarios solicitar estimaciones de precios para productos o
                  servicios.
                </div>
              </div>
            </div>
            <!-- ---- -->
          </div>
        </div>

        <!-- Plataforma 2 -->
        <div class="col-md-4 mb-4">
          <div class="padre">
            <div class="card">
              <img class="img-icono-genereal d-block mx-auto" src="{% static 'img/general_plataforma.png' %}"
                class="card-img-top" alt="Curso 1">
              <div class="card-body">
                <h5 class="card-title text-center ">Sistema de Emision</h5>
                <p class="card-text"></p>
                <div class="d-flex justify-content-around">
                  <!-- iframe para abrir ventana emergente con lo que quiero mostrar -->
                  <a href="https://ventasdigital.co/user/login/NTQ1/" type="button" class="btn btn-primary"
                    id="boton_emision" target="_blank">Probar</a>
                  <button type="button" class="btn btn-primary" id="liveToastBtn2">ver más</button>
                </div>
              </div>
            </div>
            <!-- toast -->
            <div class="contendor-toast toast-container p-3">
              <div id="liveToast2" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-header">
                  <i class="bi bi-easel pe-2"></i>
                  <strong class="me-auto">Sitema de Emision</strong>
                  <small>mins ago</small>
                  <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
                <div class="toast-body">
                  permite generar, emitir y gestionar reportes de cada una de las agencias con sus respectivas
                  comisiones
                </div>
              </div>
            </div>
            <!-- ---- -->
          </div>
        </div>

        <!-- Plataforma 3 -->
        <div class="col-md-4 mb-4">
          <div class="padre">
            <div class="card">
              <img class="img-icono-genereal d-block mx-auto" src="{% static 'img/genereal_plataforma2.png' %}"
                class="card-img-top" alt="Curso 1">
              <div class="card-body">
                <h5 class="card-title text-center">CRM de casos</h5>
                <!-- <p class="card-text"></p> -->
                <div class="d-flex justify-content-around">
                  <!-- <a href="https://soporte48hd.com/" class="btn btn-primary">acceder</a> -->
                  <a type="button" href="https://soporte48hd.com/" class="btn btn-primary" id="boton_emision"
                    target="_blank">Probar</a>
                  <button type="button" class="btn btn-primary" id="liveToastBtn3">ver más</button>
                </div>
              </div>
            </div>
            <!-- toast -->
            <div class="contendor-toast toast-container p-3">
              <div id="liveToast3" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-header">
                  <i class="bi bi-easel pe-2"></i>
                  <strong class="me-auto">CRM de casos</strong>
                  <small>mins ago</small>
                  <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
                <div class="toast-body">
                  facilita el seguimiento y manejo de los casos de los usuarios que llaman, permitiendo un registro
                  eficiente de sus necesidades
                </div>
              </div>
            </div>
            <!-- ---- -->
          </div>
        </div>

        <!-- Plataforma 4 -->
        <div class="col-md-4 mb-4" id="columna-4">
          <div class="padre">
            <div class="card">
              <img class="img-icono-genereal d-block mx-auto" src="{% static 'img/academia.png' %}" class="card-img-top"
                alt="Curso 1">
              <div class="card-body">
                <h5 class="card-title text-center">Academia</h5>
                <!-- <p class="card-text"></p> -->
                <div class="d-flex justify-content-around">
                  <!-- <a href="#" class="btn btn-primary">acceder</a> -->
                  <a href="https://s5hl6bhm-8000.use2.devtunnels.ms/" class="btn btn-primary" id="boton_emision"
                   target="_blank">Probar</a>
                  <button type="button" class="btn btn-primary" id="liveToastBtn4">ver más</button>
                </div>
              </div>
            </div>
            <!-- toast -->
            <div class="contendor-toast toast-container p-3">
              <div id="liveToast4" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-header">
                  <i class="bi bi-easel pe-2"></i>
                  <strong class="me-auto">Academia</strong>
                  <small>mins ago</small>
                  <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
                <div class="toast-body">
                  La Academia de Idiomas ofrece una experiencia de aprendizaje personalizada para dominar nuevos idiomas
                  de manera efectiva.
                </div>
              </div>
            </div>
            <!-- ---- -->
          </div>
        </div>


        <!-- Plataforma 5 -->
        <div class="col-md-4 mb-4" id="columna-5">
          <div class="padre">
            <div class="card">
              <img class="img-icono-genereal d-block mx-auto" src="{% static 'img/telemedicine.png' %}" class="card-img-top"
                alt="Curso 1">
              <div class="card-body">
                <h5 class="card-title text-center">Telemedicina</h5>
                <!-- <p class="card-text"></p> -->
                <div class="d-flex justify-content-around">
                  <!-- <a href="#" class="btn btn-primary">acceder</a> -->
                  <button type="button" class="btn btn-primary" id="liveToastBtn5">ver más</button>
                </div>
              </div>
            </div>
            <!-- toast -->
            <div class="contendor-toast toast-container p-3">
              <div id="liveToast5" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-header">
                  <i class="bi bi-easel pe-2"></i>
                  <strong class="me-auto">Telemedicina</strong>
                  <small>mins ago</small>
                  <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
                <div class="toast-body">
                  ¡Accede a consultas médicas sin salir de casa! Con telemedicina, puedes conectarte con especialistas
                  desde cualquier lugar.
                </div>
              </div>
            </div>
            <!-- ---- -->
          </div>
        </div>

        <!-- Plataforma 6 -->
        <div class="col-md-4 mb-4" id="columna-7">
          <div class="padre">
            <div class="card">
              <img class="img-icono-genereal d-block mx-auto" src="{% static 'img/bot.png' %}" class="card-img-top"
                alt="Curso 1">
              <div class="card-body">
                <h5 class="card-title text-center">Bot</h5>
                <!-- <p class="card-text"></p> -->
                <div class="d-flex justify-content-around">
                  <!-- <a href="#" class="btn btn-primary">acceder</a> -->
                  <!-- <button type="button" class="btn btn-primary" id="liveToastBtn5">ver más</button> -->
                  <!-- Button trigger modal -->
                  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Abrir
                  </button>

                  <!-- Modal -->
                  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          <script SameSite="None; Secure"  type="module" src="https://cdn.landbot.io/landbot-3/landbot-3.0.0.js"></script>
                          <div id="myLandbot" style="width: 100%; height: 500px"></div>
                          <script type="module">
                            var myLandbot = new Landbot.Container({
                              container: '#myLandbot',
                              configUrl: 'https://storage.googleapis.com/landbot.pro/v3/H-2713190-WQ1VEUFUNPG9TR4U/index.json',
                            });
                          </script>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-success" data-bs-dismiss="modal">Cerrar</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- toast -->
            <!-- <div class="contendor-toast toast-container p-3">
              <div id="liveToast5" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-header">
                  <i class="bi bi-easel pe-2"></i>
                  <strong class="me-auto">Bot</strong>
                  <small>mins ago</small>
                  <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
                <div class="toast-body">
                  Bot
                </div>
              </div>
            </div> -->
            <!-- ---- -->
          </div>
        </div>

  </section>


  <!-- ======= Contact Section ======= -->
  <section id="contact" class="contact">
    <div class="container">

      <div class="section-title">
        <h2>Contacto</h2>
        <p>Contacta con nosotros para conocer a detalle nuestros servicios.</p>
      </div>

      <div class="row" data-aos="fade-in">

        <div class="col-lg-5 d-flex align-items-stretch">
          <div class="info">
            <div class="address">
              <i class="bi bi-geo-alt"></i>
              <h4>Encuéntranos en</h4>
              <p>Carrera 48 #10-45 Centro Comercial Monterrey</p>
              <p>Oficina #1023 Medellín</p>
              <p>Carrera 14 #12-15 Local 2 pereira</p>
            </div>

            <div class="email">
              <i class="bi bi-envelope"></i>
              <h4>Correo electrónico:</h4>
              <p>servicioalcliente@48hoorassdia.com</p>
            </div>

            <div class="phone">
              <i class="bi bi-phone"></i>
              <h4>Línea nacional:</h4>
              <p>018000183258</p>
            </div>

          </div>

        </div>

        <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
          <form action="forms/contact.php" method="post" role="form" class="php-email-form" id="contactForm">
            <div class="row">
              <div class="form-group col-md-6">
                <label for="name">Nombre</label>
                <input type="text" name="nombre" class="form-control" id="name" required>
              </div>
              <div class="form-group col-md-6">
                <label for="name">Correo</label>
                <input type="email" class="form-control" name="correo" id="email" required>
              </div>
            </div>
            <div class="form-group">
              <label for="name">Asunto</label>
              <input type="text" class="form-control" name="asunto" id="subject" required>
            </div>
            <div class="form-group">
              <label for="name">Mensaje</label>
              <textarea class="form-control" name="mensaje" rows="10" required></textarea>
            </div>
            <div class="my-3">
              <div class="loading">Cargando</div>
              <div class="error-message"></div>
              <div class="sent-message">Su mensaje ha sido enviado. Muchas gracias.</div>
            </div>
            <div class="text-center"><button type="submit" id="button2">Enviar mensaje</button></div>
          </form>
        </div>

      </div>

    </div>
  </section><!-- End Contact Section -->

</main><!-- End #main -->

<!-- ======= Footer ======= -->
<footer id="footer">
  <div class="container">
    <div class="copyright">
      &copy; Copyright <strong><span>Tu Empresa Aqui 2024</span></strong>
    </div>
    <div class="credits">

    </div>
  </div>
</footer><!-- End  Footer -->
<!-- <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
    class="bi bi-arrow-up-short"></i></a> -->


<!-- Vendor JS Files -->
<!-- <script src="assets/vendor/purecounter/purecounter_vanilla.js"></script> -->
<script src="{% static 'vendor/aos/aos.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'vendor/glightbox/js/glightbox.min.js' %}"></script>
<script src="{% static 'vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
<script src="{% static 'vendor/swiper/swiper-bundle.min.js' %}"></script>
<script src="{% static 'vendor/typed.js/typed.umd.js' %}"></script>
<script src="{% static 'vendor/waypoints/noframework.waypoints.js' %}"></script>
<!-- <script src="assets/vendor/php-email-form/validate.js"></script> -->

<!-- Template Main JS File -->
<script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'validation.js' %}"></script>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<!-- <script src="{% static 'serviceWorker.js' %}"></script> -->


<script>
  document.getElementById('contactForm').addEventListener('submit', async function (event) {
    event.preventDefault(); // Evita que se recargue la página al enviar el formulario

    const formData = new FormData(this);

    try {
      const response = await fetch('forms/contact.php/', {
        method: 'POST',
        body: formData
      });

      const result = await response.json(); // Procesa la respuesta JSON

      if (result.success) {
        // Muestra el mensaje con SweetAlert
        Swal.fire({
          title: '¡Éxito!',
          text: result.message,
          icon: 'success',
          confirmButtonText: 'Aceptar'
        });
      } else {
        // Muestra el error con SweetAlert
        Swal.fire({
          title: 'Error',
          text: result.message,
          icon: 'error',
          confirmButtonText: 'Aceptar'
        });
      }
    } catch (error) {
      console.error('Error:', error);
      Swal.fire({
        title: 'Error inesperado',
        text: 'Ocurrió un problema al enviar el formulario. Inténtalo de nuevo.',
        icon: 'error',
        confirmButtonText: 'Aceptar'
      });
    }
  });
</script>

<!-- <script>
  document.addEventListener("contextmenu", function (e) {
    e.preventDefault();
    alert("Inspección de elemento no permitida");
  });

  document.addEventListener("keydown", function (e) {
    if (e.keyCode == 123) { // 123 is the F12 key
      e.preventDefault();
      alert("Inspección de elemento no permitida");
    }
  });
</script>  -->

</body>

</html>